---
title: Sponsors
og_title: Sponsors | Papers We Love Conference 2016
---
<article id="articleContainer">
  <section class="articleTagline">
    Join us for a day with some of Papers We Love’s favorite writers and speakers.
  </section>
  <section class="articleNavigation">
    <nav class="navRow">
      <a href="/" class="navLink">&larr; Back to PWLConf</a>
      <a href="/">
        <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfNavLogo" %>
      </a>
    </nav>
  </section>
  <section class="articleTextContent">
    <h1 id="pwlconf-sponsors">PWLConf Sponsors</h1>
    <div>
      <h2>Platnium Sponsors</h2>
      <%= image_tag 'TwoSigma_RGB.jpg', :alt => "Two Sigma Logo", :title => "Two Sigma Logo", :class => "imgSponsor platniumSponsor" %>
      <p class="sponsorBlurb">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo metus, interdum vel facilisis sed, mollis a ante. Proin congue euismod odio et volutpat.
      </p>
      <%= image_tag 'enigma_logo.png', :alt => "Enigma Logo", :title => "Enigma Logo", :class => "imgSponsor platniumSponsor" %>
      <p class="sponsorBlurb">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo metus, interdum vel facilisis sed, mollis a ante. Proin congue euismod odio et volutpat. Curabitur vestibulum nulla erat, id mollis diam sodales sit amet. Nullam aliquet luctus justo, volutpat aliquet eros consequat vitae. Vestibulum velit sem, interdum et lacus nec, rutrum pharetra lacus. Sed tempus justo id suscipit commodo. Proin vel ornare justo. Phasellus commodo posuere vehicula.
      </p>
    </div>
    <div>
      <h2>Gold Sponsors</h2>
      <%= image_tag 'CernerLogo_Horizontal.png', :alt => "Cerner Logo", :title => "Cerner Logo", :class => "imgSponsor goldSponsor" %>
      <p class="sponsorBlurb">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur justo metus, interdum vel facilisis sed, mollis a ante. Proin congue euismod odio et volutpat. Curabitur vestibulum nulla erat, id mollis diam sodales sit amet. Nullam aliquet luctus justo, volutpat aliquet eros consequat vitae. Vestibulum velit sem, interdum et lacus nec, rutrum pharetra lacus. Sed tempus justo id suscipit commodo. Proin vel ornare justo. Phasellus commodo posuere vehicula.
      </p>
    </div>
    <div>
      <h2>Silver Sponsors</h2>
    </div>
    <div>
      <h2>Bronze Sponsors</h2>
    </div>
    <div>
      <h2>Additional Sponsors</h2>
      <%= image_tag 'shuttcloud.png', :alt => "ShuttleCloud Logo", :title => "ShuttleCloud Logo", :class => "imgSponsor additionalSponsor" %>
      <%= image_tag 'refinery29.png', :alt => "Refinery29 Logo", :title => "Refinery29 Logo", :class => "imgSponsor additionalSponsor" %>
    </div>
  </section>

  <section class="articleFooterContent">
    <div class="footerRow">
      <div class="footerItem">
        <h2>Web</h2>
        <a href="http://paperswelove.org">paperswelove.org</a>
      </div>
      <div class="footerItem">
        <h2>Twitter</h2>
        <a href="https://twitter.com/papers_we_love">@papers_we_love</a>
      </div>
      <div class="footerItem">
        <h2>Email</h2>
        <a href="mailto:contact@paperswelove.org">contact@paperswelove.org</a>
      </div>
    </div>
  </section>
</article>
